/* variables */
:root {
	--primary-color: #931420;
	--accent-color: #f6bb73;
	--light-accent: #fffded;
	--light: white;
	--dark: black;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* === 12-COLUMN GRID LAYOUT === */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 80%;
	margin: auto;
	border: 3px solid var(--primary-color);

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto 1fr auto;
}

/* Header spans the full width */
header {
	grid-column: 1 / 13;
	grid-row: 1;
	padding: 1em;
	border-bottom: 3px solid var(--primary-color);
	background-image: linear-gradient(
		30deg,
		var(--accent-color) 0%,
		var(--light-accent) 25%,
		var(--light) 50%,
		var(--light-accent) 75%,
		var(--accent-color) 100%
	);
}

header h2 {
	font-size: 175%;
	color: var(--primary-color);
	padding-bottom: 0;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

header img {
	float: left;
	margin: 0 30px;
	width: clamp(40px, 15%, 66px);
}

/* === GRID COLUMNS === */

/* Left column (Guest Speakers) */
aside:first-of-type {
	grid-column: 1 / 4;
	grid-row: 2;
	padding: 1em;
}

/* Main contenr column */
section {
	grid-column: 4 / 10;
	grid-row: 2;
	padding: 1em;
}

/* Right column (Event Change) */
aside:last-of-type {
	grid-column: 10 / 13;
	grid-row: 2;
	padding: 1em;
}

/* Footer spans entire width */
footer {
	grid-column: 1 / 10;
	grid-row: 3;
	padding: 1em;
	background-color: var(--primary-color);
	width: 100%;
}

footer p {
	text-align: center;
	color: white;
	padding-bottom: 0;
}

/* Typography & spacing */
h1, h2, h3, p, article, blockquote {padding-bottom: .5em;}
ul { margin-left: 1em; }
h1 { font-size: 150%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
a:hover, a:focus { font-style: italic; }

/* Section styles */
section h1 { padding-top: .5em; }
section h2 { color: var(--primary-color); }
section article + h2 {
	clear: right;
	border-top: 3px solid var(--primary-color);
	padding-top: .5em;
}

section blockquote {
	font-style: italic;
	margin-left: 2em;
}

/* Article styles */
article {
	border-top: 3px solid var(--primary-color);
	padding-top: .5em;
	margin-bottom: .5em;
}

article img {
	float: right;
	margin: .25em 0 1em 1em;
	border: 1px solid var(--dark);
	width: min(100%, 225px);
}

/* Aside styles */
aside h2 {
	color: var(--primary-color);
}

aside img {
	margin-bottom: .9em;
}