/* variables */
:root {
	--primary-color: #931420;
	--accent-color: #f6bb73;
	--light-accent: #fffded;
	--light: white;
	--dark: black;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* base styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 80%;
    margin: auto;
    border: 3px solid var(--primary-color);
}
header, section, aside, footer { padding: 1em; }
h1, h2, h3, p, article, blockquote { padding-bottom: .5em; }
ul { margin-left: 1em; }
h1 { font-size: 150%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
a:focus, a:hover { font-style: italic; }

/* header */
header {
	border-bottom: 3px solid var(--primary-color);
	background-image: linear-gradient(30deg, 
		var(--accent-color) 0%, 
		var(--light-accent) 25%, 
		var(--light) 50%, 
		var(--light-accent) 75%, 
		var(--accent-color) 100%);
	text-align: center;
	& h2 {
		font-size: 175%;
		color: var(--primary-color);
		padding-bottom: 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
	}
	& img {
		float: left;
		margin: 0 30px;
		width: clamp(40px, 15%, 66px);
	}
}

/* navbar */
.navbar {
	background-color: var(--primary-color);
}
.navbar ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}
.navbar a {
	display: block;
	padding: 0.75em;
	text-decoration: none;
	color: var(--light);
}
.navbar a.current {
	color: var(--accent-color);
	font-weight: bold;
}

/* main layout */
main {
	display: flex;
	flex-direction: row;
}
aside {
	flex: 1;
	border-right: 3px solid var(--primary-color);
	padding: 1em;
}
section.contact {
	flex: 1;
	padding: 1em;
}

/* contact list */
.contact ul {
	list-style-type: square;
	margin-left: 2em;
	padding-top: 0,5em;
}
.contact li {
	margin-bottom: 0.75em;
	padding-left: 0.5em;
	font-size: 105%;
}
.contact a {
	color: var(--accent-color);
	text-decoration: underline;
	font-weight: bold;
}
.contact a:hover,
.contact a:focus {
	color: var(--primary-color);
	text-decoration: none;
}

/* footer */
footer {
	background-color: var(--primary-color);
	text-align: center;
	color: white;
	padding: 0.5em;
}