/* Color variables */
:root {
	--primary-color: #931420;
	--accent-color: #f6bb73;
	--light-accent: #fffded;
	--light: white;
	--dark: black;
}

/* font face */
@font-face {
	font-family: 'Ink Free';
	src: url('../fonts/Inkfree.ttf') format('truetype');
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* default element styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 80%;
    margin: auto;
    border: 3px solid var(--primary-color);
}

header, section, aside, footer { padding: 1em; }
h1, h2, h3, p, article, blockquote { padding-bottom: .5em; }
h1 { font-size: 150%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
a:focus, a:hover { font-style: italic; }
ul { list-style-type: none; }
li { padding-bottom: .75em; }

/* header */
header {
	border-bottom: 3px solid var(--primary-color);
	background-image: linear-gradient(30deg, 
		var(--accent-color) 0%, 
		var(--light-accent) 25%, 
		var(--light) 50%, 
		var(--light-accent) 75%, 
		var(--accent-color) 100%);
	& h2 {
		font-size: 175%;
		color: var(--primary-color);
		padding-bottom: 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
	}
	& img {
		float: left;
		margin: 0 30px;
		width: clamp(40px, 15%, 66px);
	}
}

/* main layout */
main {
	clear: left;
	display: flex;
}

/* section */
section {
	flex-basis: 75%;
	& h1 {
		padding-top: .5em;
		font-family: 'Ink Free', 'Comic Sans MS', cursive;
		color: black;
	}
	& h2 {
		color: var(--primary-color);
	}
	& section article + h2 {
		clear: left;
		border-top: 3px solid var(--primary-color);
		padding-top: .5em;
	}
	& section blockquote {
		font-style: italic;
		margin-left: 2em;
	}
}

/* article */
article {
	border-top: 3px solid var(--primary-color);
	padding-top: .5em;
	margin-bottom: .5em;
}

/* figure */
figure.speaker-photo {
	float: left;
	margin: .25em 1em 1em 0;
	width: min(100%, 225px);
	text-align: center;
}

figure.speaker-photo img {
	width: 100%;
	border: 1px solid var(--dark);
}

figure.speaker-photo figcaption {
	font-size: 0.9em;
	font-style: italic;
	margin-bottom: .25em;
}

/* aside */
aside {
	flex-basis: 25%;
	& h2 {
		color: var(--primary-color);
	}
	& img {
		margin-bottom: .9em;
	}
}

/* footer */
footer {
	background-color: var(--primary-color);
	& p {
		text-align: center;
		color: white;
		padding-bottom: 0; 
	}
}

/* Contact Us */
.contact-header {
	border-top: 3px solid var(--primary-color);
	border-top-style: overline;
	margin-top: 5em;
	padding-top: .75em;
	color: var(--primary-color);
}

.contact-list li i {
	color: var(--primary-color);
	margin-right: .5em;
}

/* links */
section a {
	color: color-mix(in srgb, var(--accent-color) 65%, var(--primary-color) 35%);
	text-decoration: none;
}

section a:hover {
	text-decoration: underline;
}

/* Speaker name styling */
aside h3 a {
	color: var(--accent-color); /* sidebar speaker names */
}

article h3 {
	color: black; /*Main article title (February: Scott Sampson) */
}

article h3 .speaker-name {
	color: black; /* Ensures the name stays black too */
}